{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<div class="text-light">
    <p>Pseudo : {{ app.user.pseudo }}</p>
    <p>E-mail : {{ app.user.email }}</p>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Annonces en cours</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Larcins réservés</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Historique</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% for order in app.user.orders %}
                {% if order.isDelivered == false %}
                    <p>Titre : {{ order.product }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {% for order in orderByList %}
                {% if order.isDelivered == false %}
                    <p>Titre : {{ order.product }}</p>
                {% endif %}
            {% endfor %}
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            {% for order in orderAll %}
                {% if order.isDelivered == true %}
                    <p>Titre : {{ order.product }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
